/Figures
/NOTES
/QC
/WORKINGDIR
/WORKINGDIR3
/XCP_OUTPUT
/XCP_OUTPUT_01
/XCP_OUTPUT_02
/XCP_OUTPUT_03
/XCP_OUTPUT_04
/XCP_OUTPUT_05
/XCP_OUTPUT_06
/XCP_OUTPUT_07
/XCP_OUTPUT_08
/XCP_OUTPUT_09
/XCP_OUTPUT_10
/XCP_OUTPUT_11
/XCP_OUTPUT_12
/XCP_OUTPUT_13
/XCP_OUTPUT_14
/XCP_OUTPUT_15
/XCP_OUTPUT_16
/XCP_OUTPUT_17
/XCP_OUTPUT_18
/XCP_OUTPUT_19
/XCP_OUTPUT_20
/XCP_OUTPUT_21
/XCP_OUTPUT_22
/XCP_OUTPUT_23
/XCP_OUTPUT_24
/XCP_OUTPUT_25
/XCP_OUTPUT_26
/XCP_OUTPUT_27
/XCP_OUTPUT_28
/XCP_OUTPUT_29
/XCP_OUTPUT_30
/XCP_OUTPUT_31
/XCP_OUTPUT_32
/XCP_OUTPUT_33
/XCP_OUTPUT_34
/XCP_OUTPUT_35
/XCP_OUTPUT_36
/XCP_OUTPUT_37
/XCP_OUTPUT_no_sb_ref
/XCPparam
/afni
/archive
/boundary_test
/edge_connectivity
/events152_BIDS
/events152_BIDS_subset
/fMRI_movementSummary
/fmriprep
/fmriprep_subset
/scripts
/segmentation_events
/sub-01_edge_connectivity.png
/sub-02_edge_connectivity.png
/sub-03_edge_connectivity.png
/sub-03_edge_connectivity_seg.png
/sub-04_edge_connectivity.png
/sub-04_edge_connectivity_seg.png
/sub-05_edge_connectivity.png
/sub-05_edge_connectivity_seg.png
/sub-06_edge_connectivity.png
/sub-06_edge_connectivity_seg.png
/sub-07_edge_connectivity.png
/sub-07_edge_connectivity_seg.png
/sub-08_edge_connectivity.png
/sub-08_edge_connectivity_seg.png
/sub-09_edge_connectivity.png
/sub-09_edge_connectivity_seg.png
/sub-10_edge_connectivity.png
/sub-11_edge_connectivity.png
/sub-12_edge_connectivity.png
/voxelwiseAnalyses